@import url(registration-form.css);
@import url(navbar.css);
@import url(card-establishment.css);
@import url(button.css);
@import url(checkout.css);

.container {
    max-width: 1250px !important;
}

body {
    padding-top: 56px;
    padding-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa;
}